/*
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Rock Salt', cursive;

*/

.fundo {
    width: 567px;
    height: auto;
    background-color: #0b090a;
    border: 1px solid whitesmoke;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
}

.fundo > .cabecalho {
    width: 567px;
    height: auto;
    margin-top: 20px;
    text-align: center;
    overflow: none;
    padding: 8px 5px;
}
.fundo > .cabecalho > .texto-cabecalho {
    width: 550px;
    text-align: justify;
    padding: 5px 5px;
    word-wrap: break-word;
    word-break: break-all;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
    letter-spacing: 4px;
    line-height: 140%;
    font-weight: 300;
}

.fundo > .card-space-1 {
    margin-bottom: 10px;
    height: 150px;
    width: 80%;
    position: relative;
    left: 40px;
    border: 1px solid whitesmoke;
}

.fundo > .card-space-1 > .div-img {
    width: 30%;
    height: 150px;
    background-color: black;
    position: relative;
    float: left;
    z-index: 8;
    left: 0px;
    opacity: 0;
    transition: 0.8s;
}
.fundo > .card-space-1 > .div-img:hover {
    border-left: 1px solid whitesmoke;
    transform: rotate(180deg);
    opacity: 1;
}

.fundo > .card-space-1 > .card-name {
    width: 70%;
    height: 48px;
    background-color: black;
    position: relative;
    text-align: center;
    right: -135px;
    color: black;
    opacity: 0;
    transition: 0.8s;
}
.fundo > .card-space-1 > .card-name:hover {
    border: 1px solid whitesmoke;
    color: whitesmoke;
    opacity: 1;
}

.fundo > .card-space-1 > .card-name > .info {
    font-family: Noto Sans JP, sans-serif;
    width: 100%;
    font-size: 20px;
    position: relative;
    top: 10px;
    right: 40px;
    text-align: center;
    letter-spacing: 5px;
    font-weight: 200;
}
.fundo > .card-space-1 > .card-name > .info:hover {
    color: white;
}

.fundo > .aliancas {
    width: 567px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fundo > .aliancas > .names {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #ba181b;
    text-align: center;
    text-decoration: underline;
}

.ficha {
    width: 400px;
    height: 450px;
    background-color: #0b090a;
    border: 1px solid #fff;
    display: none;
    position: absolute;
    z-index: 5;
    bottom: 30px;
}

.ficha > .imagem {
    width: 150px;
    height: 450px;
    border: 1px solid #fff;
    position: absolute;
    left: 0;
    display: inline-block;
    background-color: grey;
}

.ficha > .container {
    width: 250px;
    height: 450px;
    display: flex;
    position: absolute;
    right: 0;
    flex-direction: column;
    align-items: center;
}

.ficha > .container > .informacoes {
    width: 240px;
    height: 90px;
    border: 1px solid #fff;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 100;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    margin-top: 10px;
    text-align: center;
}
